body {
    background-color: aquamarine;
    font-family:'Courier New', Courier, monospace;
}

label {
    color: rgb(39, 40, 41);
    font-weight: bold;
}

a {
    text-decoration: none;
    font-weight: bold;
}

.test {
    position: relative;
    left: 500px;
    top: 200px;
}